@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* Colors */
  --color-primary-green: #274f45;
  --color-light-green: #77978f;
  --color-accent-red: #e48872;
  --color-primary-red: #8b200c;
  --color-secondary-gray: #4b4a47;
  --color-dark-green: #274f4561;
  --color-off-green: #D4E2CB;
  --color-secondary-black: #13141d;
  --color-accent-white: #fffdf8;
  --color-accent-gray: #a7a39c;
  --color-accent-blue: #B0DEDB;

  /* Font Family */
  --font-lato: var(--font-lato);

  /* Breakpoints */
  /* --breakpoint-sm: 480px;
  --breakpoint-md: 576px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1280px; */
  --breakpoint-xxs: 350px;
  --breakpoint-xs: 400px;
  --breakpoint-1xl: 1200px;
}

html {
  @apply scroll-smooth;
}

/* body {
  @apply font-lato;
} */

/* Custom CSS */
.section_title {
  @apply text-2xl  md:text-3xl  lg:text-4xl xl:text-[45px] text-primary-green  mb-12;
}

.section_sub_title {
  @apply text-2xl lg:text-4xl text-secondary-black font-semibold mb-3.5 md:mb-7;
}

.auth-primary-btn {
  @apply text-secondary-black bg-transparent px-14 font-semibold py-3 rounded-[6px] shadow border-2 border-secondary-black cursor-pointer hover:scale-95 duration-500 ease-in-out;
}

.primary_btn {
  @apply block w-full py-1.5 md:py-3 bg-primary-green text-accent-white text-[14px] font-semibold md:text-[17px] duration-300 transition-all hover:scale-[0.97] rounded-lg shadow cursor-pointer enabled:hover:bg-transparent enabled:hover:text-primary-green border-2 border-primary-green text-center disabled:cursor-not-allowed disabled:opacity-70;
}

.auth-secondary-btn {
  @apply text-accent-white bg-primary-green px-4 py-1.5 md:py-2.5 rounded-[6px] shadow border-2 border-primary-green hover:scale-95 duration-500 ease-in-out cursor-pointer;
}

.auth-heading {
  @apply text-xl sm:text-2xl  md:text-3xl  lg:text-4xl xl:text-5xl font-semibold text-secondary-black mb-5;
}

.auth_title {
  @apply text-primary-green text-[40px] font-lato font-bold text-center;
}

.auth_description {
  @apply font-lato text-[18px] font-normal max-w-[350px] w-full mx-auto text-center;
}

.form-group {
  width: 100%;
}

.form-label {
  @apply text-secondary-black block w-full font-semibold;
}

.form-input {
  @apply w-full block mt-1.5 px-2 md:px-3 py-1.5 md:py-2  lg:py-2.5 rounded-[5px] border md:border-2 border-secondary-gray;
}

.shipping_form .form-input {
  @apply py-1.5 md:py-2 rounded-[6px];
}

.form-error {
  @apply text-red-500 text-sm block mt-1.5;
}

/* For Swiper Slider */
.banner_swiper .swiper-pagination-bullet {
  @apply bg-white size-3.5 opacity-80;
}

.banner_swiper .swiper-pagination-bullet-active {
  @apply bg-primary-green scale-125 opacity-100;
}
.product_swiper .swiper-pagination-bullet {
  @apply bg-white size-3 opacity-80;
}

.product_swiper .swiper-pagination-bullet-active {
  @apply bg-primary-green scale-105 opacity-100;
}

.review_swiper .swiper-pagination-bullet {
  @apply bg-white size-2 opacity-90;
}

.review_swiper .swiper-pagination-bullet-active {
  @apply bg-primary-green scale-105 opacity-100;
}

.product_img .swiper-button-prev::after,
.product_img .swiper-button-next::after {
  @apply text-primary-green;
}

/* For Custom Scrollbar */
.side-scrollbar::-webkit-scrollbar {
  display: none;
}

.notification_container {
  scrollbar-width: thin;
}

option:hover {
  background: #d4e2cb !important;
}

.scroll-to-top {
  right: 20px !important;
  bottom: 20px !important;
}

.chat-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #274f45;
}

.stsearch-box input {
  @apply !border-none !outline-none;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}